# My project files (Why does github still send this ?)
/TealDemo.vcxproj
/TealDemo.vcxproj.filters
/TealDemo.vcxproj.user

# Build
/Debug
/Release
/x86
/x64

# Data
/wdirs

# ExtLibs
/extlibs/lib/**
/extlibs/include/**